
Unidad 1/topEducation/.idea/

Unidad 2/Aplicación-microservicio-básico/.idea/

Unidad 2/Aplicación-microservicio-básico/frontend-service/node_modules/

Unidad 2/Aplicación-microservicio-básico/backend-config-service/.idea/

Unidad 2/Aplicación-microservicio-básico/backend-config-service/target/

Unidad 2/Aplicación-microservicio-básico/backend-cuotas-service/.idea/

Unidad 2/Aplicación-microservicio-básico/backend-cuotas-service/target/

Unidad 2/Aplicación-microservicio-básico/backend-estudiantes-service/.idea/

Unidad 2/Aplicación-microservicio-básico/backend-estudiantes-service/target/

Unidad 2/Aplicación-microservicio-básico/backend-eureka-service/.idea/

Unidad 2/Aplicación-microservicio-básico/backend-eureka-service/target/

Unidad 2/Aplicación-microservicio-básico/backend-gateway-service/.idea/

Unidad 2/Aplicación-microservicio-básico/backend-gateway-service/target/
Unidad 1/topEducation/target/

Unidad 2/Aplicación-microservicio-Avanzado-mysql/.idea/

Unidad 2/Aplicación-microservicio-avanzado-postgresql/config-data/.idea/

Unidad 2/Aplicación-microservicio-avanzado-mysql/config-data/.idea/

Unidad 2/Aplicación-kubernetes-postgresql/.idea/

Unidad 2/Aplicación-kubernetes-postgresql/config-data/.idea/
