*{
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
}

input[type="text"]{
    background-color: rgb(201, 201, 201);
    width: 50%;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

input[type="submit"], #Generar_cuotas{
    color: #fff;
    margin-left: 5px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
#Generar, #Generar_cuotas{
    background-color: #4caf50;
}
#Generar_cuotas{
    margin-left: 80%;
}
input[type="submit"]:hover, #Generar_cuotas:hover{
    border: 2px solid #1b3039;
    transform: scale(1.1);
}

select{
    background-color: rgb(201, 201, 201);
    width: 100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.contenedor{
    position: fixed;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Alinear{
    margin-left: 1%;
    display: block;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.content-table{
    border-collapse: collapse;
    font-size: 0.9em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.content-table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th, .content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}

